    /* @media screen and (max-width: 500px) {
        body {
            display: block;
        } */
        *{
            margin: 0;
            box-sizing: border-box;
            padding: 0;
        }
        :root{
            --border: 5px solid rgb(14, 12, 12);
            --background-color: rgb(43, 38, 38);
            --fontColor: white;
        }
        img{
            width: 100%;
        }
        body{
            background-color: var(--background-color);
            background-image: url(/src/images/);
            background-repeat: no-repeat;
            background-position: 30px right;
            object-fit: cover;
            color: var(--fontColor);
            -webkit-backdrop-filter: blur(50px right);
        }
        .container{
            position: relative;
            width: 100%;
            display: flex;
        }
        .hero-section{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 50px;
        }
        .wish-message{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 150px;
        }
        .down-arrow{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            font-size: 50px;
            color: var(--fontColor);
        }
        form{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 350px;
            display: flex;
            flex-direction: column;
        }
        input{
            width: 70%;
            padding: 10px 20px;
            border: none;
            outline: none;
            font-size: 18px;
        }
        select{
            width: 70%;
            padding: 10px 20px;
            border: none;
            outline: none;
            font-size: 18px;
        }
        option{
            width: 40px;
        }
        .options{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 30rem;
        }
        .checkbox{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            font-size: 50px;
        }
        table{
            position: absolute;
            margin-left: 29px;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            translate: 22%;


        }
        table tr td {
            font-size: 20px;
            padding: 20px;
        }
        .create-button{
            position: absolute;
            align-items: center;
            text-align: center;
            margin-left: 10em;
            justify-items: center;
            margin-top: 40rem;
        }
        button{
            width: 100%;
            padding: 10px 30px;
        }
        .gallery{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 45rem;
            
        }
        .gallery button{
            width: 60%;
            margin-top: 1rem;
        }
            
            /* @media screen and (min-width: 501px) {
            body {
                display: none;
            }
            } */