    /* @media screen and (max-width: 500px) {
        body {
            display: block;
        } */
        *{
            margin: 0;
            box-sizing: border-box;
            padding: 0;
        }
        :root{
            --border: 5px solid rgb(14, 12, 12);
            --background-color: rgb(43, 38, 38);
            --fontColor: white;
        }
        img{
            width: 100%;
        }
        body{
            background-color: var(--background-color);
            background-image: url(/src/images/);
            background-repeat: no-repeat;
            background-position: 30px right;
            object-fit: cover;
            color: var(--fontColor);
            -webkit-backdrop-filter: blur(50px right);
        }
        .container{
            position: relative;
            width: 100%;
            display: flex;
        }
        .hero-section{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 50px;
        }
        .wish-message{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 150px;
        }
        .down-arrow{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            font-size: 50px;
            color: var(--fontColor);
        }
        form{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 350px;
            display: flex;
            flex-direction: column;
        }
        input{
            width: 70%;
            padding: 10px 20px;
            border: none;
            outline: none;
            font-size: 18px;
            border-radius: 20px;
        }
        select{
            width: 70%;
            padding: 10px 20px;
            border: none;
            outline: none;
            font-size: 18px;
            border-radius: 20px;
            margin-top: 23px;
        }
        option{
            width: 40px;
        }
        .options{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 30rem;
        }
        .checkbox{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            font-size: 50px;
        }
        table{
            position: absolute;
            margin-left: 26px;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 270px;
            translate: 6%;


        }
        table tr td {
            font-size: 20px;
            padding: 20px;
        }
        .create-button{
            position: absolute;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 40rem;
            translate: 80%;
            font-size: 18px;
        }
        button{
            width: 100%;
            padding: 10px 40px;
            border-radius: 20px;
            background-color: red;
            color: white;
            transition: .5s;
            margin-top: 10px;
        }
        button:hover{
            background-color: brown;
        }
        .gallery{
            position: absolute;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-items: center;
            margin-top: 45rem;
            
        }
        .gallery button{
            width: 60%;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        .holder{
            
            background-color: black;
            
            width: 100%;
            height: 100%;
            padding-top: 10px;
            display: block!important;
        }
        .holder img{
            padding-top: 10px;
        }
        #content{
            width: 100%;
            height: 450px;
            color: white;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            
        }
        .holder i{
            font-size: 35px;
            cursor: pointer;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .holder input{
            width: 100%;
        }
        .fb{
          padding: 10px;
        }
        #share-button{
            font-size: 20px;
        }
    
            /* @media screen and (min-width: 501px) {
            body {
                display: none;
            }
            } */